---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/find/tt0266543?api_key=c29379565234e20d7cbf4f2e835c3e41&external_source=imdb_id&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - feaa674eaffd6e230b76773b53c17993
      X-Memc-Age:
      - '16061'
      X-Memc-Expires:
      - '5539'
      Etag:
      - W/"ebb296977a3f255f73b6add107d54c3c"
      Last-Modified:
      - Sun, 28 Jun 2020 05:22:42 GMT
    body:
      encoding: UTF-8
      string: '{"movie_results":[{"id":12,"video":false,"vote_count":13695,"vote_average":7.8,"title":"Finding
        Nemo","release_date":"2003-05-30","original_language":"en","original_title":"Finding
        Nemo","genre_ids":[16,10751],"backdrop_path":"/dFYguAfeVt19qAbzJ5mArn7DEJw.jpg","adult":false,"overview":"Nemo,
        an adventurous young clownfish, is unexpectedly taken from his Great Barrier
        Reef home to a dentist''s office aquarium. It''s up to his worrisome father
        Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting
        vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls,
        and more along the way.","poster_path":"/xVNSgrsvpcAHPnyKf2phYxyppNZ.jpg","popularity":30.387}],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}'
  recorded_at: Sun, 28 Jun 2020 05:22:43 GMT
recorded_with: VCR 6.0.0
