---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/find/nm0298350?api_key=c29379565234e20d7cbf4f2e835c3e41&external_source=imdb_id&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - e40ec96533b45cf52000eb2d8938fbf9
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"578ce87ada3c101ba6d6f583c641d527"
      Last-Modified:
      - Sun, 28 Jun 2020 05:22:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"movie_results":[],"person_results":[{"adult":false,"gender":2,"name":"Simon
        Fuller","id":945599,"known_for":[{"original_name":"American Idol","id":3626,"name":"American
        Idol","vote_count":92,"vote_average":5.0,"first_air_date":"2002-06-11","poster_path":"/8zrIAq3IPuRHSNF3TRw1I5SZzmE.jpg","genre_ids":[10764],"original_language":"en","backdrop_path":"/kIk6AJk9VBWB81XWW0t5K9fYnrD.jpg","overview":"Each
        year, hopeful singers from all over the country audition to be part of one
        of the biggest shows in American television history. Who will become the new
        American Idol?","origin_country":["US"],"popularity":31.788,"media_type":"tv"},{"original_name":"So
        You Think You Can Dance","id":3976,"name":"So You Think You Can Dance","vote_count":37,"vote_average":7.4,"first_air_date":"2005-07-20","poster_path":"/5rA1X4NOiYLPS4HBraDcFfaL8o1.jpg","genre_ids":[10764],"original_language":"en","backdrop_path":"/ogMM1oayCrGBJi8IQHMDEvD0nNf.jpg","overview":"Dancers
        selected in open auditions across America take part in a rigorous competition
        designed to best display their talents, training and personalities to [...]
