---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/find/121361?api_key=c29379565234e20d7cbf4f2e835c3e41&external_source=tvdb_id&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b2b2d5b5c403479427a32475da3e48f4
      X-Memc-Age:
      - '395'
      X-Memc-Expires:
      - '21205'
      Etag:
      - W/"27560ebb46fdac8bf00840790b86897f"
      Last-Modified:
      - Sun, 28 Jun 2020 05:22:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"movie_results":[],"person_results":[],"tv_results":[{"original_name":"Game
        of Thrones","id":1399,"name":"Game of Thrones","vote_count":8891,"vote_average":8.3,"first_air_date":"2011-04-17","poster_path":"/u3bZgnGQ9T01sWNhyveQz0wH0Hl.jpg","genre_ids":[18,10765],"original_language":"en","backdrop_path":"/suopoADq0k8YZr4dQXcU6pToj6s.jpg","overview":"Seven
        noble families fight for control of the mythical land of Westeros. Friction
        between the houses leads to full-scale war. All while a very ancient evil
        awakens in the farthest north. Amidst the war, a neglected military order
        of misfits, the Night''s Watch, is all that stands between the realms of men
        and icy horrors beyond.","origin_country":["US"],"popularity":94.35}],"tv_episode_results":[{"air_date":"1956-02-26","episode_number":22,"id":356630,"name":"Place
        of Shadows","overview":"Ray Clements goes to a remote monastery and pretends
        to be a friend of a man named Rocco who was staying in the monastery bed-ridden
        after being involved in a near fatal car accident.  Ray wants to murder Rocco
        because Rocco had cheated him. Father Vincent stops the murder. Ray, having
        a change of heart, decides to forgive Rocco. He later learns that Rocco is
        already dead. He died from injuries he acquired in the car crash.","production_code":"","season_number":1,"show_id":5273,"still_path":"/nXcoXAXPPA6vDcyaVrK87TOxlcH.jpg","vote_average":0.0,"vote_count":0}],"tv_season_results":[{"air_date":"1978-04-04","episode_count":26,"id":29649,"name":"Season
        1","overview":"","poster_path":"/jlRY4btMdYdjJyj0XEBWMsCFNbi.jpg","season_number":1,"show_id":19239}]}'
  recorded_at: Sun, 28 Jun 2020 05:22:44 GMT
recorded_with: VCR 6.0.0
