---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/episode/1?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 0c559bbdcf116f54a66c1b49f1415956
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"faca4c742342775dd7ea6d5974b3c1d9"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:02 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"air_date":"1973-10-24","crew":[{"id":12140,"credit_id":"5257532219c29531db114592","name":"Abby
        Mann","department":"Writing","job":"Writer","gender":0,"profile_path":null},{"id":15663,"credit_id":"5257532219c29531db1145b6","name":"Joseph
        Sargent","department":"Directing","job":"Director","gender":2,"profile_path":null},{"id":151454,"credit_id":"59c2fe6f9251415b24002c88","name":"Gerald
        Perry Finnerman","department":"Camera","job":"Director of Photography","gender":2,"profile_path":null},{"id":1704093,"credit_id":"59c2fe799251415b54002a73","name":"John
        Kaufman","department":"Editing","job":"Editor","gender":2,"profile_path":null},{"id":7186,"credit_id":"59c2fe8b9251415b32002b0c","name":"John
        J. Lloyd","department":"Art","job":"Art Direction","gender":2,"profile_path":null}],"episode_number":1,"guest_stars":[{"id":1037,"name":"Harvey
        Keitel","credit_id":"5257532219c29531db1145e2","character":"","order":0,"gender":2,"profile_path":"/nmhafZ605lZjs1CLcr9nSletOSd.jpg"},{"id":1215961,"name":"Rick
        Hurst","credit_id":"5257532219c29531db114604","character":"","order":1,"gender":2,"profile_path":null},{"id":157936,"name":"James
        Sloyan","credit_id":"5257532219c29531db114626","character":"","order":2,"gender":2,"profile_path":null},{"id":2555,"name":"David
        Proval","credit_id":"5257532219c29531db114648","character":"","order":3,"gender":2,"profile_path":"/ku3LWQXiJ80nWgs21fKvTMaR6Ui.jpg"}],"name":"Siege
        of Terror","overview":"Kojak has two hours to free the hostages from three
        robbers in an Army surplus store.","id":255746,"production_code":"","season_number":1,"still_path":"/pAznrflVb54IkFCWxep6ECgagPV.jpg","vote_average":0.0,"vote_count":0}'
  recorded_at: Sun, 28 Jun 2020 05:23:03 GMT
recorded_with: VCR 6.0.0
