---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/episode/1/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 4f59bf153ca147795b2b418563394198
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"ebaf2025550050b1b22f664aa59c7b03"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:04 GMT
    body:
      encoding: UTF-8
      string: '{"id":255746,"imdb_id":"tt0621366","freebase_mid":"/m/06x0z6m","freebase_id":null,"tvdb_id":null,"tvrage_id":93817}'
  recorded_at: Sun, 28 Jun 2020 05:23:04 GMT
recorded_with: VCR 6.0.0
