---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/episode/1/credits?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 36375be959dcc921d1513d0b95bb5e1b
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"b8599c46b386545188502ee70387ea9c"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:03 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"cast":[{"character":"Theo Kojak","credit_id":"5257533719c29531db11620e","gender":2,"id":10169,"name":"Telly
        Savalas","order":0,"profile_path":"/rWJ07MlK7rCjCVMogHoHFrlGj9t.jpg"},{"character":"Frank
        McNeill","credit_id":"5257533719c29531db11623c","gender":2,"id":40463,"name":"Dan
        Frazer","order":1,"profile_path":"/tBe7tZ4Hyzs7cnGFSpBiEGcwQII.jpg"},{"character":"Bobby
        Crocker","credit_id":"5257533719c29531db11626a","gender":2,"id":105595,"name":"Kevin
        Dobson","order":2,"profile_path":"/szBXwbKYFboFWC7aOMcf5ldieD2.jpg"},{"character":"Curly
        Stavors","credit_id":"5257533719c29531db116298","gender":2,"id":78091,"name":"George
        Savalas","order":3,"profile_path":null},{"character":"Percy Saperstein","credit_id":"5257533919c29531db1162c9","gender":2,"id":1234318,"name":"Mark
        Russell","order":4,"profile_path":"/trlBsJk0zZGfXT3R5yWidh2NcTE.jpg"}],"crew":[{"id":12140,"credit_id":"5257532219c29531db114592","name":"Abby
        Mann","department":"Writing","job":"Writer","gender":0,"profile_path":null},{"id":15663,"credit_id":"5257532219c29531db1145b6","name":"Joseph
        Sargent","department":"Directing","job":"Director","gender":2,"profile_path":null},{"id":151454,"credit_id":"59c2fe6f9251415b24002c88","name":"Gerald
        Perry Finnerman","department":"Camera","job":"Director of Photography","gender":2,"profile_path":null},{"id":1704093,"credit_id":"59c2fe799251415b54002a73","name":"John
        Kaufman","department":"Editing","job":"Editor","gender":2,"profile_path":null},{"id":7186,"credit_id":"59c2fe8b9251415b32002b0c","name":"John
        J. Lloyd","department":"Art","job":"Art Direction","gender":2,"profile_path":null}],"guest_stars":[{"id":1037,"name":"Harvey
        Keitel","credit_id":"5257532219c29531db1145e2","character":"","order":0,"gender":2,"profile_path":"/nmhafZ605lZjs1CLcr9nSletOSd.jpg"},{"id":1215961,"name":"Rick
        Hurst","credit_id":"5257532219c29531db114604","character":"","order":1,"gender":2,"profile_path":null},{"id":157936,"name":"James
        Sloyan","credit_id":"5257532219c29531db114626","character":"","order":2,"gender":2,"profile_path":null},{"id":2555,"name":"David
        Proval","credit_id":"5257532219c29531db114648","character":"","order":3,"gender":2,"profile_path":"/ku3LWQXiJ80nWgs21fKvTMaR6Ui.jpg"}],"id":255746}'
  recorded_at: Sun, 28 Jun 2020 05:23:03 GMT
recorded_with: VCR 6.0.0
