---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1399/season/1/episode/1/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - fd1ad589a274150fedb7577d89e7f5c1
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"3e24ad7b12eca59b97c3884e2b441671"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:04 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":63056,"stills":[{"aspect_ratio":1.777777777777778,"file_path":"/wrGWeW4WKxnaeA8sxJb2T9O6ryo.jpg","height":1080,"iso_639_1":null,"vote_average":5.38,"vote_count":4,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/xIfvIM7YgkADTrqp23rm3CLaOVQ.jpg","height":1080,"iso_639_1":null,"vote_average":5.3125,"vote_count":1,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/uaSOtAsNrXbKxOVzC31GjYxLRXJ.jpg","height":1080,"iso_639_1":null,"vote_average":5.3125,"vote_count":1,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/v3bGMbT5Ik86ERFBfsXFqpiMTFy.jpg","height":1080,"iso_639_1":null,"vote_average":5.3125,"vote_count":1,"width":1920},{"asp[...]
