---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/1/changes?api_key=c29379565234e20d7cbf4f2e835c3e41&end_date=2014-03-01&language=en&start_date=2014-02-19
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 47722e5a19bacafbf2fa34dc0fa8a594
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '300'
      Etag:
      - W/"2290e444d9a0d132231fe109660660c0"
      Last-Modified:
      - Sun, 28 Jun 2020 05:22:57 GMT
    body:
      encoding: UTF-8
      string: '{"changes":[{"key":"images","items":[{"id":"53077a69925141110e00002c","action":"added","time":"2014-02-21
        16:10:17 UTC","value":{"profile":{"file_path":"/d8I8oke7Y5K0vlcz6LVCoFHzkxx.jpg"}}},{"id":"53077a79925141110e000035","action":"deleted","time":"2014-02-21
        16:10:33 UTC","original_value":{"profile":{"file_path":"/rkO2HyUHIbXTT4EuOyub42zstrA.jpg"}}}]},{"key":"place_of_birth","items":[{"id":"53077a22925141110800002f","action":"updated","time":"2014-02-21
        16:09:06 UTC","value":"Modesto - California - USA","original_value":"Modesto,
        California, USA"}]},{"key":"also_known_as","items":[{"id":"53077a0f925141111a00003e","action":"added","time":"2014-02-21
        16:08:47 UTC","value":["George Walton Lucas Jr. "]}]}]}'
  recorded_at: Sun, 28 Jun 2020 05:22:57 GMT
recorded_with: VCR 6.0.0
