---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/1/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"twitter_id":"","facebook_id":null,"tvrage_id":6490,"instagram_id":null,"freebase_mid":"\/m\/0343h","imdb_id":"nm0000184","freebase_id":"\/en\/george_lucas"}'
  recorded_at: Sun, 28 Jun 2020 05:22:56 GMT
recorded_with: VCR 6.0.0
