---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/1/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"profiles":[{"iso_639_1":null,"width":2000,"height":3000,"vote_count":4,"vote_average":5.118,"file_path":"\/mDLDvsx8PaZoEThkBdyaG1JxPdf.jpg","aspect_ratio":0.66666666666667},{"iso_639_1":null,"width":911,"height":1367,"vote_count":1,"vote_average":5.172,"file_path":"\/gt6sPwRp4iC6nUupoMcITYWK0NJ.jpg","aspect_ratio":0.66642282370154},{"iso_639_1":null,"width":1000,"height":1500,"vote_count":1,"vote_average":5.312,"file_path":"\/d0ZMdgMz1mVcWWctyF7sbymSlv4.jpg","aspect_ratio":0.66666666666667}],"id":1}'
  recorded_at: Sun, 28 Jun 2020 05:22:56 GMT
recorded_with: VCR 6.0.0
