---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/latest?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - f3535a1d77fc4fccfeaaa01025d7fe11
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      Etag:
      - W/"e0607565fa88102487abfedd99eadf71"
      Last-Modified:
      - Sun, 28 Jun 2020 05:22:58 GMT
    body:
      encoding: UTF-8
      string: '{"adult":false,"also_known_as":[],"biography":"","birthday":null,"deathday":null,"gender":0,"homepage":null,"id":2694302,"imdb_id":null,"name":"Jonathan
        Mariande","place_of_birth":null,"popularity":0.0,"profile_path":null}'
  recorded_at: Sun, 28 Jun 2020 05:22:58 GMT
recorded_with: VCR 6.0.0
