---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/person/1245/tagged_images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":1245,"page":1,"total_results":6,"results":[{"iso_639_1":null,"vote_count":48,"media_type":"movie","file_path":"\/myRzRzCxdfUWjkJWgpHHZ1oGkJd.jpg","aspect_ratio":0.66666666666667,"media":{"popularity":26.302,"vote_count":5916,"video":false,"poster_path":"\/myRzRzCxdfUWjkJWgpHHZ1oGkJd.jpg","id":315837,"adult":false,"backdrop_path":"\/sbRXCEsh35hIiHhc2XQRDZ7hLzH.jpg","original_language":"en","original_title":"Ghost
        in the Shell","genre_ids":[28,18,878,53],"title":"Ghost in the Shell","vote_average":6,"overview":"In
        the near future, Major is the first of her kind: a human saved from a terrible
        crash, then cyber-enhanced to be a perfect soldier devoted to stopping the
        world''s most dangerous criminals.","release_date":"2017-03-29"},"height":3000,"vote_average":5.586,"width":2000},{"iso_639_1":null,"vote_count":1,"media_type":"movie","file_path":"\/5G5VJfzJvQDJ7ERrD19HaJoKM4U.jpg","aspect_ratio":0.66666666666667,"media":{"popularity":15.255,"vote_count":1007,"video":false,"poster_path":"\/lXSKWcUfPgPZnT2Sj7qjQjQImOz.jpg","id":512,"adult":false,"backdrop_path":"\/uAq7xPyAFQVjYsZ3Q0CvPc7qzYy.jpg","original_language":"en","original_title":"Scoop","genre_ids":[35,9648],"title":"Scoop","vote_average":6.6,"overview":"An
        American journalism student in London scoops[...]
