---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/network/1?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 3540a96bf3d504c45feafacb39c2c7e9
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"d51a772ba3fea1e7fe243b7aa4fce0db"
      Last-Modified:
      - Sun, 28 Jun 2020 05:22:53 GMT
    body:
      encoding: UTF-8
      string: '{"headquarters":"Minato, Tokyo Prefecture","homepage":"http://www.fujitv.co.jp","id":1,"name":"Fuji
        TV","origin_country":"JP"}'
  recorded_at: Sun, 28 Jun 2020 05:22:53 GMT
recorded_with: VCR 6.0.0
