---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/collection/10/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - a438d717492d7ef2bcd921ca90b2399e
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2020-06-18 07:29:19 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":10,"backdrops":[{"aspect_ratio":1.777777777777778,"file_path":"/trf3Hi3tPOJARsCBoVMDBlpjPC4.jpg","height":1080,"iso_639_1":"en","vote_average":5.374,"vote_count":4,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/n9NcXAZIurCo9RHvMahOCT244rF.jpg","height":1080,"iso_639_1":"en","vote_average":5.318,"vote_count":3,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/h3JDR9iruHqwGC4Dm8UbYkY9paK.jpg","height":1080,"iso_639_1":"en","vote_average":5.316,"vote_count":5,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/benqmUIQGqU7iMYrDl8aUxhXWC.jpg","height":1080,"iso_639_1":"en","vote_average":5.312,"vote_count":1,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/noKFlPn2GjuUounuxtmPnkRlZpa.jpg","height":1080,"iso_639_1":"en","vote_average":5.258,"vote_count":6,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/e9mh9iqVxhon2Y7pkLZ7zItUWHX.jpg","height":1080,"iso_639_1":"en","vote_average":5.196,"vote_count":4,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/oGf9FeB8coLGYVp3SMHjAR809Lv.jpg","height":1080,"iso_639_1":"en","vote_average":5.016,"vote_count":10,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/e2XZ6rbBFYqWB5n5na4GCjljfDM.jpg","height":1080,"iso_639_1":"en","vote_average":0.0,"vote_count":0,"width":1920}],"posters":[{"aspect_ratio":0.6666666666666666,"file_path":"/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg","height":3000,"iso_639_1":"en","vote_average":5.456,"vote_count":7,"width":2000},{"aspect_ratio":0.6666666666666666,"file_path":"/mEpQbsUSekbQRdffXMeQWjeHb34.jpg","height":1500,"iso_639_1":"en","vote_average":5.412,"vote_count":22,"width":1000},{"aspect_ratio":0.6666666666666666,"file_path":"/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg","height":1500,"iso_639_1":"en","vote_average":5.4,"vote_count":16,"width":1000},{"aspect_r[...]
