---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/collection?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en&query=Disney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - a812db08d91eff725fa1db6fa2558a81
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"8f0b146f05936f1853e1a593ebc650e4"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/tDhCsQaxFmdorEZHIgVaZH0MGDs.jpg","id":91657,"name":"Disney
        Buddies Collection","original_language":"en","original_name":"Disney Buddies
        Collection","overview":"Disney Buddies series follows the adventures of 5
        loveable pups, Rosebud, B-Dawg, Budderball, Buddha and Mudbud, with a nose
        for trouble and adventure. Disney Buddies spin-off series began in 2006 with
        the release of Air Buddies and it focuses on the adventures of Air Buddy''s
        (from the Air Bud film series) talking golden retriever puppies.","poster_path":"/c0SunvY1GV56ezlaOYjAxkpV1Ng.jpg"},{"adult":false,"backdrop_path":null,"id":328187,"name":"Walt
        Disney Treasures - The Chronological Donald, Volume Three","original_language":"en","original_name":"Walt
        Disney Treasures - The Chronological Donald, Volume Three","overview":"Donald''s
        prolific career as leading duck marches on with more of his solo-starring
        shorts. In this 1949), we follow our hotheaded hero''s escapades from 1947
        through 1950 as he continues to endear himself to people all over the globe.  Among
        the treasure trove of gems in this volume are three of Donald''s Academy Award
        nominated Best Shorts - Chip An'' Dale (1947), Tea For Two Hundred (1948)
        and Toy Tinkers (1949), the outstanding Donald''s Dilemma from 1947, and a
        brand-new retrospective of the cranky quack-up''s complete movie career, The
        Many Faces of Donald Duck. It''s no wonder his webbed feet are immortalized
        in cement at Grauman''s Chinese Theater.","poster_path":"/bunuC3omozSgt0E7WMvaybKKQc.jpg"},{"adult":false,"backdrop_path":"/62iJVVyvSUlzQzJmkrh2eoDiM10.jpg","id":421084,"name":"Recess
        Collection","original_language":"de","original_name":"Recess Collection","overview":"","poster_path":"/nHfM7mJiAuhqrVYZqVZToxoCMXH.jpg"}],"total_pages":1,"total_results":3}'
  recorded_at: Sun, 28 Jun 2020 05:23:00 GMT
recorded_with: VCR 6.0.0
