---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/keyword?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en&query=Disney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 48c00a8f48e162eb8d32b154cc3ddd04
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"8b8bc5ae5dc2cc0f41c68ca28d79d30c"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:00 GMT
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"name":"disneyland","id":188291},{"name":"walt
        disney world","id":209265},{"name":"disney princess","id":234242},{"name":"disney''s
        animal kingdom","id":246332},{"name":"disney channel original movie","id":256559},{"name":"disney
        channel premiere movie","id":256560},{"name":"based on disney villain","id":256602},{"name":"disney
        christmas","id":259732},{"name":"cendrillon disney","id":259777},{"name":"disney
        theatrical","id":264924},{"name":"disneyplus","id":265648},{"name":"disney
        villain","id":265728},{"name":"disney","id":266600},{"name":"disney channel","id":267727}],"total_pages":1,"total_results":14}'
  recorded_at: Sun, 28 Jun 2020 05:23:00 GMT
recorded_with: VCR 6.0.0
