---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/search/person?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en&query=Julian%20Beck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"total_results":2,"total_pages":1,"results":[{"popularity":1.4,"known_for_department":"Acting","name":"Julian
        Beck","id":130723,"profile_path":"\/8bujAoKVLxTPvggUpDYSGfnKHR4.jpg","adult":false,"known_for":[{"poster_path":"\/aE1iunrgO8UHfoXKJcjCy4Ih17n.jpg","vote_count":488,"video":false,"media_type":"movie","id":10068,"adult":false,"backdrop_path":"\/LZqam9xwWj6Tjps1k9F1KHuSbR.jpg","original_language":"en","original_title":"Nine
        1\/2 Weeks","genre_ids":[18,10749],"title":"Nine 1\/2 Weeks","vote_average":6,"overview":"An
        erotic story about a woman, the assistant of an art gallery, who gets involved
        in an impersonal affair with a man. She barely knows about his life, only
        about the sex games they play, so the relationship begins to get complicated.","release_date":"1986-02-14"},{"poster_path":"\/2r22KqmzWV48kF02GN78NaS3q0m.jpg","vote_count":338,"video":false,"media_type":"movie","id":11133,"adult":false,"backdrop_path":"\/bZgwlsf0tO1Pj1e2tZhQQ18fpKF.jpg","original_language":"en","original_title":"Poltergeist
        II: The Other Side","genre_ids":[27,53],"title":"Poltergeist II: The Other
        Side","vote_average":5.8,"overview":"The Freeling family move in with Diane''s
        mother in an effort to escape the trauma and aftermath of Carol Anne''s abduction
        by the Beast. But the Beast is not to be put off so easily and appears in
        a ghostly apparition as the Reverend Kane, a religeous zealot responsible
        for the deaths of his many followers. His goal is simple - he wants the angelic
        Carol Anne.","release_date":"1986-05-23"},{"vote_count":213,"id":2148,"video":false,"media_type":"movie","vote_average":6.6,"title":"The
        Cotton Club","release_date":"1984-12-14","original_language":"en","original_title":"The
        Cotton Club","genre_ids":[18,80,10749],"backdrop_path":"\/8TsC8TJeT1wQlvq9bYV1EuNHycN.jpg","adult":false,"overview":"Harlem''s
        legendary Cotton Club becomes a hotbed of passion and violence as the lives
        and loves of entertainers and gangsters collide.","poster_path":"\/qigf5fWSH1tw7z424UVKg71UIOS.jpg"}],"gender":0},{"popularity":0.6,"known_for_department":"Writing","gender":0,"id":1941062,"profile_path":null,"adult":false,"known_for":[{"poster_path":"\/bYWEcFHKhcTdHdmnmN4uCnvNN0R.jpg","vote_count":0,"video":true,"media_type":"movie","id":492646,"adult":false,"genre_ids":[18,36],"original_title":"Seven
        Meditations on Political Sado-Masochism","original_language":"en","title":"Seven
        Meditations on Political Sado-Masochism","vote_average":0,"overview":"A visceral
        examination of the social contract between the governed and the government,
        the play explores Leopold von Sacher-Masoch''s Six Houses of Bondage: Love,
        Money, Property, State, War and Death, with a seventh meditation on Revolutionary
        Change.\r \"Seven Meditations...\" was created in 1973 by Julian Beck, Judith
        Malina & Friends.","release_date":"2011-03-27"}],"name":"Julian Beck"}]}'
  recorded_at: Sun, 28 Jun 2020 05:23:02 GMT
recorded_with: VCR 6.0.0
