---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 964740534e89c17b9b56f205aabc8702
      X-Memc-Age:
      - '9389'
      X-Memc-Expires:
      - '12211'
      Etag:
      - W/"aeb293583c844d5b94cb391617662b93"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:09 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.777777777777778,"file_path":"/otCnAN1edreRudT5E2OHk8beiDu.jpg","height":1080,"iso_639_1":"en","vote_average":0.0,"vote_count":0,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/bXE1dnpe5Ol4xX4VHkXBdbbxF3I.jpg","height":1080,"iso_639_1":"en","vote_average":0.0,"vote_count":0,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/dhWnZSk6zFATcYr0GNbdVAfdYBY.jpg","height":1080,"iso_639_1":"en","vote_average":0.0,"vote_count":0,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/xbmzcEiG2SvX6zZtgHNNLy0XluL.jpg","height":1080,"iso_639_1":"en","vote_average":0.0,"vote_count":0,"width":1920},{"aspect_ratio[...]
