---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/content_ratings?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 7613955b09ee32e9944931d2f3437314
      X-Memc-Age:
      - '909'
      X-Memc-Expires:
      - '20691'
      Etag:
      - W/"9274290cff7c4d16c6e8322aff709be9"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:08 GMT
    body:
      encoding: UTF-8
      string: '{"results":[{"iso_3166_1":"DE","rating":"16"},{"iso_3166_1":"GB","rating":"18"},{"iso_3166_1":"AU","rating":"MA15+"},{"iso_3166_1":"US","rating":"TV-MA"},{"iso_3166_1":"KR","rating":"19"},{"iso_3166_1":"BR","rating":"18"},{"iso_3166_1":"NL","rating":"16"},{"iso_3166_1":"PT","rating":"18"},{"iso_3166_1":"HU","rating":"18"},{"iso_3166_1":"ES","rating":"16"}],"id":1396}'
  recorded_at: Sun, 28 Jun 2020 05:23:08 GMT
recorded_with: VCR 6.0.0
