---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 7c8188d4ff96952bbef2d9154131fe1b
      X-Memc-Age:
      - '20816'
      X-Memc-Expires:
      - '784'
      Etag:
      - W/"ec90516bfd9dbcc2dc12bc6c2e60d590"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:08 GMT
    body:
      encoding: UTF-8
      string: '{"id":1396,"imdb_id":"tt0903747","freebase_mid":"/m/03d34x8","freebase_id":"/en/breaking_bad","tvdb_id":81189,"tvrage_id":18164,"facebook_id":"BreakingBad","instagram_id":"breakingbad","twitter_id":"BreakingBad"}'
  recorded_at: Sun, 28 Jun 2020 05:23:09 GMT
recorded_with: VCR 6.0.0
