---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1396/videos?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 719287b62ba4fcdfb83f693a60c9eeed
      X-Memc-Age:
      - '5604'
      X-Memc-Expires:
      - '15996'
      Etag:
      - W/"7c0629a320c82126c9df2a648289a251"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:10 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":1396,"results":[{"id":"5759db2fc3a3683e7c003df7","iso_639_1":"en","iso_3166_1":"US","key":"XZ8daibM3AE","name":"BREAKING
        BAD - Seasons 1-5 Trailer","site":"YouTube","size":720,"type":"Trailer"},{"id":"5c5e620b0e0a261de16958fa","iso_639_1":"en","iso_3166_1":"US","key":"HhesaQXLuRY","name":"Breaking
        Bad Trailer (First Season)","site":"YouTube","size":1080,"type":"Trailer"},{"id":"5c5e5f95925141337fbd7a6e","iso_639_1":"en","iso_3166_1":"US","key":"TPZJHsQqT9I","name":"Walt
        and Jesse vs. Tuco - Breaking Bad: S2 E2 Clip","site":"YouTube","size":1080,"type":"Clip"},{"id":"5c5e5f6cc3a3683a468cc973","iso_639_1":"en","iso_3166_1":"US","key":"Kj3QxYnymgI","name":"Behind
        the Scenes Bloopers - Breaking Bad: S3 (Part 1)","site":"YouTube","size":1080,"type":"Featurette"},{"id":"5c5e5f329251413381bd6c7b","iso_639_1":"en","iso_3166_1":"US","key":"ISw9x9WVihM","name":"Gus
        Fring Offers Walter White a Deal - Breaking Bad: S3 E1 Clip","site":"YouTube","size":1080,"type":"Clip"},{"id":"5c5e5f0c925141337cbd585f","iso_639_1":"en","iso_3166_1":"US","key":"9-eQU4kw4Q4","name":"Gus
        Fring Explains \"What it Means to be a Man\" to Walter White - S3 E5 Clip
        #BreakingBad","site":"YouTube","size":1080,"type":"Clip"},{"id":"5c5e5ed192514150c2bca2b2","iso_639_1":"en","iso_3166_1":"US","key":"yp2G586zOEE","name":"Jesse
        Pinkman Turns Down Walter White''s Offer - S3 E7 Clip #BreakingBad","site":"YouTube","size":1080,"type":"Clip"},{"id":"5c5e5e62925141338cbd76ba","iso_639_1":"en","iso_3166_1":"US","key":"zAjJYkUnTEs","name":"I
        Am The Danger - S4 E6 Clip #BreakingBad","site":"YouTube","size":1080,"type":"Clip"}]}'
  recorded_at: Sun, 28 Jun 2020 05:23:10 GMT
recorded_with: VCR 6.0.0
