---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/changes?api_key=c29379565234e20d7cbf4f2e835c3e41&end_date=2015-06-26&language=en&start_date=2015-06-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 9bef3615c737b695de1f3ace76a022ea
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '300'
      Etag:
      - W/"8eba03c48c352ef8b6f3738330ef07db"
      Last-Modified:
      - Sun, 28 Jun 2020 05:22:51 GMT
    body:
      encoding: UTF-8
      string: '{"changes":[{"key":"images","items":[{"id":"558ab78cc3a36869f2001e32","action":"updated","time":"2015-06-24
        13:58:36 UTC","iso_639_1":"fr","value":{"poster":{"file_path":"/tYnygTSBvN4rxypuJ9S9JjUGqMX.jpg","iso_639_1":"fr"}},"original_value":{"poster":{"file_path":"/tYnygTSBvN4rxypuJ9S9JjUGqMX.jpg","iso_639_1":"en"}}}]}]}'
  recorded_at: Sun, 28 Jun 2020 05:22:51 GMT
recorded_with: VCR 6.0.0
