---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5aff060a307dbdfc519b166c1993d0f2
      X-Memc-Age:
      - '8653'
      X-Memc-Expires:
      - '12947'
      Etag:
      - W/"e58e0427c4ee99ec4d050dc0dd1f3772"
      Last-Modified:
      - Sun, 28 Jun 2020 05:22:47 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":550,"backdrops":[{"aspect_ratio":1.777777777777778,"file_path":"/5pxdgKVEDWDQBtvqIB2eB2oheml.jpg","height":1080,"iso_639_1":"en","vote_average":5.18,"vote_count":3,"width":1920},{"aspect_ratio":1.777777777777778,"file_path":"/yPeG1RQm5Am0eslu0IwUEJ4VXND.jpg","height":720,"iso_639_1":"en","vote_average":5.172,"vote_count":1,"width":1280}],"posters":[{"aspect_ratio":0.66900790166813,"file_path":"/bptfVGEQuv6vDTIMVCHjJ9Dz8PX.jpg","height":2278,"iso_639_1":"en","vote_average":5.456,"vote_count":11,"width":1524},{"aspect_ratio":0.6666666666666666,"file_path":"/oqhuGSl6gp22rIRo52IouPhV4hl.jpg","height":1500,"iso_639_1":"en","vote_average":5.322,"vote_count":5,"width":1000},{"aspect_ratio":0.754,"file_path":"/wR5HZWdVpcXx9sevV1bQi7rP4op.jpg","height":1500,"iso_639_1":"en","vote_average":5.318,"vote_count":3,"width":1131},{"aspect_ratio":0.666,"f[...]
