---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/releases?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - d089cae038d6a3671b247d1dd7f6b0e9
      X-Memc-Age:
      - '20178'
      X-Memc-Expires:
      - '1422'
      Etag:
      - W/"a6f45011790b4efc34c5bc52f04118f6"
      Last-Modified:
      - Sun, 28 Jun 2020 05:22:48 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":550,"countries":[{"certification":"","iso_3166_1":"TR","primary":false,"release_date":"1999-12-10"},{"certification":"","iso_3166_1":"GR","primary":false,"release_date":"2000-02-18"},{"certification":"","iso_3166_1":"CH","primary":false,"release_date":"1999-11-04"},{"certification":"","iso_3166_1":"CH","primary":false,"release_date":"1999-11-10"},{"certification":"","iso_3166_1":"IT","primary":false,"release_date":"1999-09-10"},{"certification":"","iso_3166_1":"CA","primary":false,"release_date":"1999-10-15"},{"certification":"","iso_3166_1":"AR","primary":false,"release_date":"1[...]
