---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/reviews?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - f8d7d87a6e35ad7a456e2a2cfc745545
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2020-05-20 21:02:15 +0000'
    body:
      encoding: UTF-8
      string: '{"id":550,"page":1,"results":[{"author":"Goddard","content":"Pretty
        awesome movie.  It shows what one crazy person can convince other crazy people
        to do.  Everyone needs something to believe in.  I recommend Jesus Christ,
        but they want Tyler Durden.","id":"5b1c13b9c3a36848f2026384","url":"https://www.themoviedb.org/review/5b1c13b9c3a36848f2026384"},{"author":"Brett
        Pascoe","content":"In my top 5 of all time favourite movies. Great story line
        and a movie you can watch over and over again.","id":"5b3e1ba1925141144c007f17","url":"https://www.themoviedb.org/review/5b3e1ba1925141144c007f17"}],"total_pages":1,"total_results":2}'
  recorded_at: Sun, 28 Jun 2020 05:22:50 GMT
recorded_with: VCR 6.0.0
