---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/550/videos?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - ca5c545c41e5d5b7bf047770d2f31025
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2020-05-20 21:02:15 +0000'
    body:
      encoding: UTF-8
      string: '{"id":550,"results":[{"id":"5c9294240e0a267cd516835f","iso_639_1":"en","iso_3166_1":"US","key":"BdJKm16Co6M","name":"Fight
        Club | #TBT Trailer | 20th Century FOX","site":"YouTube","size":1080,"type":"Trailer"},{"id":"5e382d1b4ca676001453826d","iso_639_1":"en","iso_3166_1":"US","key":"6JnN1DmbqoU","name":"Fight
        Club - Theatrical Trailer Remastered in HD","site":"YouTube","size":1080,"type":"Trailer"}]}'
  recorded_at: Sun, 28 Jun 2020 05:22:48 GMT
recorded_with: VCR 6.0.0
