---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/credits?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - e1eb1c895a8ea3cf4550415d7c907da7
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"543f727cbeb7815b100b7a71f90c51d5"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:05 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"cast":[{"character":"Theo Kojak","credit_id":"5257533719c29531db11620e","gender":2,"id":10169,"name":"Telly
        Savalas","order":0,"profile_path":"/rWJ07MlK7rCjCVMogHoHFrlGj9t.jpg"},{"character":"Frank
        McNeill","credit_id":"5257533719c29531db11623c","gender":2,"id":40463,"name":"Dan
        Frazer","order":1,"profile_path":"/tBe7tZ4Hyzs7cnGFSpBiEGcwQII.jpg"},{"character":"Bobby
        Crocker","credit_id":"5257533719c29531db11626a","gender":2,"id":105595,"name":"Kevin
        Dobson","order":2,"profile_path":"/szBXwbKYFboFWC7aOMcf5ldieD2.jpg"},{"character":"Curly
        Stavors","credit_id":"5257533719c29531db116298","gender":2,"id":78091,"name":"George
        Savalas","order":3,"profile_path":null},{"character":"Percy Saperstein","credit_id":"5257533919c29531db1162c9","gender":2,"id":1234318,"name":"Mark
        Russell","order":4,"profile_path":"/trlBsJk0zZGfXT3R5yWidh2NcTE.jpg"}],"crew":[{"credit_id":"5257533919c29531db11630f","department":"Production","gender":0,"id":12140,"job":"Executive
        Producer","name":"Abby Mann","profile_path":null},{"credit_id":"5257533919c29531db11633d","department":"Production","gender":0,"id":1216932,"job":"Producer","name":"Michael
        Scheff","profile_path":null},{"credit_id":"5257533919c29531db11636d","department":"Production","gender":2,"id":151445,"job":"Producer","name":"Jack
        Laird","profile_path":null},{"credit_id":"5257533b19c29531db1163a0","department":"Production","gender":0,"id":1234320,"job":"Producer","name":"James
        Duff McAdams","profile_path":null},{"credit_id":"5257533b19c29531db1163d6","department":"Production","gender":0,"id":118311,"job":"Executive
        Producer","name":"Matthew Rapf","profile_path":null}],"id":10838}'
  recorded_at: Sun, 28 Jun 2020 05:23:06 GMT
recorded_with: VCR 6.0.0
