---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/season/59905/changes?api_key=c29379565234e20d7cbf4f2e835c3e41&end_date=2015-05-26&language=en&start_date=2015-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - f4016c2850d6b39140b5a3a0de5cb26d
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '300'
      Etag:
      - W/"a16d91b362978aa89fbf20cb7b4a2a01"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:05 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"changes":[{"key":"episode","items":[{"id":"55638b68925141271b001fa8","action":"updated","time":"2015-05-25
        20:51:52 UTC","value":{"episode_id":972002,"episode_number":1}},{"id":"55638b7592514116cb001f8b","action":"updated","time":"2015-05-25
        20:52:05 UTC","value":{"episode_id":973803,"episode_number":2}},{"id":"55638b859251415bfb001323","action":"updated","time":"2015-05-25
        20:52:21 UTC","value":{"episode_id":973804,"episode_number":3}},{"id":"55638b92c3a36851cf002abf","action":"updated","time":"2015-05-25
        20:52:34 UTC","value":{"episode_id":973805,"episode_number":4}},{"id":"55638bb592514119f3002ab4","action":"updated","time":"2015-05-25
        20:53:09 UTC","value":{"episode_id":975373,"episode_number":5}},{"id":"55638be192514119f3002ab9","action":"updated","time":"2015-05-25
        20:53:53 UTC","value":{"episode_id":975433,"episode_number":6}},{"id":"55638bef9251411a0a002ce6","action":"updated","time":"2015-05-25
        20:54:07 UTC","value":{"episode_id":975434,"episode_number":7}},{"id":"55638bfa92514116cb001f99","action":"updated","time":"2015-05-25
        20:54:18 UTC","value":{"episode_id":976647,"episode_number":8}}]},{"key":"name","items":[{"id":"55638b42925141271b001fa5","action":"added","time":"2015-05-25
        20:51:14 UTC","iso_639_1":"de","value":"Staffel 1"}]},{"key":"air_date","items":[{"id":"55638b42925141271b001fa4","action":"updated","time":"2015-05-25
        20:51:14 UTC","value":"2014-04-06","original_value":"2014-04-06"}]}]}'
  recorded_at: Sun, 28 Jun 2020 05:23:05 GMT
recorded_with: VCR 6.0.0
