---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/3572/season/1/external_ids?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 7ea786aca555f85081317b6768814ade
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"926e50e9ce6bd7796e847a2e8c2680a7"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:06 GMT
    body:
      encoding: UTF-8
      string: '{"id":10838,"freebase_mid":"/m/05ddtqw","freebase_id":"/en/kojak_season_1","tvdb_id":2547,"tvrage_id":null}'
  recorded_at: Sun, 28 Jun 2020 05:23:06 GMT
recorded_with: VCR 6.0.0
