---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1399/season/1/images?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 33616f269c30c79c135703f337f31dde
      X-Memc-Age:
      - '969'
      X-Memc-Expires:
      - '20631'
      Etag:
      - W/"b8e9524be148433fd52c6687d35db6b7"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:06 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":3624,"posters":[{"aspect_ratio":0.6920415224913494,"file_path":"/zwaj4egrhnXOBIit1tyb4Sbt3KP.jpg","height":578,"iso_639_1":"en","vote_average":5.478,"vote_count":22,"width":400},{"aspect_ratio":0.6666666666666666,"file_path":"/wgfKiqzuMrFIkU1M68DDDY8kGC1.jpg","height":1500,"iso_639_1":"en","vote_average":5.394,"vote_count":10,"width":1000},{"aspect_ratio":0.6666666666666666,"file_path":"/fY9SToqac7bjqLczawuc7kLmX74.jpg","height":1500,"iso_639_1":"en","vote_average":5.246,"vote_count":2,"width":1000},{"aspect_ratio":0.6666666666666666,"file_path":"/f2VFinnHA1QRnZajVvLYOnuIjcO.jpg","height":1500,"iso_639_1":"en","vote_average":5.246,"vote_count":2,"width":1000},{"asp[...]
