---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/tv/1399/season/1/videos?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 57e31d44afdbc57ee39fadda18f9ef47
      X-Memc-Age:
      - '19231'
      X-Memc-Expires:
      - '2369'
      Etag:
      - W/"73fb8840ffad00aac22139d943e80909"
      Last-Modified:
      - Sun, 28 Jun 2020 05:23:06 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":3624,"results":[{"id":"5c9b7e95c3a36841a341b9c6","iso_639_1":"en","iso_3166_1":"US","key":"BpJYNVhGf1s","name":"Game
        Of Thrones \"The Game Begins\" Preview (HBO)","site":"YouTube","size":1080,"type":"Trailer"},{"id":"534929160e0a266b3b0013e6","iso_639_1":"en","iso_3166_1":"US","key":"g7ZSQRDUroo","name":"Game
        Of Thrones: Character Feature - Tyrion Lannister (HBO)","site":"YouTube","size":720,"type":"Featurette"},{"id":"534928e90e0a266b430013f2","iso_639_1":"en","iso_3166_1":"US","key":"13agX-f4MrU","name":"Game
        Of Thrones: Character Feature - Jaime Lannister (HBO)","site":"YouTube","size":720,"type":"Featurette"},{"id":"534922b00e0a266b4a0014e9","iso_639_1":"en","iso_3166_1"[...]
