---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/company/1?api_key=c29379565234e20d7cbf4f2e835c3e41&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 9a9520c521b1b779eb59eb34fcdd30cb
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"7a28799ab446e22849031d21f11022af"
      Last-Modified:
      - Sun, 28 Jun 2020 05:22:41 GMT
    body:
      encoding: UTF-8
      string: '{"description":"","headquarters":"San Francisco, California","homepage":"https://www.lucasfilm.com/","id":1,"logo_path":"/o86DbpburjxrqAzEDhXZcyE8pDb.png","name":"Lucasfilm
        Ltd.","origin_country":"US","parent_company":null}'
  recorded_at: Sun, 28 Jun 2020 05:22:41 GMT
recorded_with: VCR 6.0.0
